.home
{
    background: rgb(5, 5, 148);
    color: white;
    width: 370px;
    
}
.ul0
{
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
}
.ul1
{
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
}
.ul2
{
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
}
.ul3
{
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
}
.ul4
{
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
}
.ul5
{
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
}
.ul6
{
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
}
.welcom
{
    font-size: 70px;
    font-family:sans-serif;
}
.lm
{
    font-family:monospace;
}
.read
{
    text-decoration: none;
    background: blue;
    color: white;
    font-family: monospace;
    padding: 10px 20px;
}
.read:hover
{
    background: white;
    padding: 10px 20px;
    color: blue;
}
.about
{
    font-family: fantasy;
    font-size: 50px;
    font-weight:100;
}
.lm2
{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
}
.our
{
    font-size: 70px;
    font-family: sans-serif;
}
.des
{
    font-family: sans-serif;
    color:black;
    font-weight: 600;
    font-size: 50px;
}
.cod
{
    font-family: sans-serif;
    font-size: 50px;
}
.java
{
    font-family: sans-serif;
    font-size: 50px;
}
.time
{
    font-size: 70px;
    font-family: sans-serif;
}
.li
{
    font-family: monospace;
    font-size: 30px;
}
.sto
{
    font-size: 70px;
    font-family: sans-serif;
}
.ko
{
    font-size: 60px;
    font-family: sans-serif;
}
.have
{
    font-family: sans-serif;
    font-size: 50px;
}
.now
{
    color: white;
    background: rgb(6, 6, 114);
    width: 370px;
}
.sub
{
    color: white;
    background: rgb(235, 118, 16);
}
.to
{
    font-family: sans-serif;
    font-weight: 500;
}
.ccc
{
    background: rgb(29, 26, 26);
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    width: 370px;
}
.us
{
    color: white;
    text-decoration: none;
}
.logo
{
    border: 5px solid rgb(245, 242, 242);
}
